* { /*Erases all default padding and margin settings made by browser*/
    margin: 0;
    padding: 0;
}

.shop-header{
    height : 130px;
    background-color: white; /*Deciding between white BG and black text, or black BG and white text, leaning towards the first one. (?)*/
    color : black;
    width : 100%;
}

.header-div{
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top : 10px;
}

.header-list{
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration : none;
    width : 900px;
    font-size : 20px;
    padding-top : 50px;
    list-style: none;
}

.hr-div{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item-divider{
    width : 75%;
}